.container {
    width: 603px
    heig
    font-family; -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(194, 163, 194);
}

.casa {
    width: 400px;
    height: 400px;
    border: 3px rgb(248, 230, 230);
}

.linha {
    width: 100px;
    height: 100px;
}

#botao {
    font-size: 30px;
    width: 40px;
    height: 40px;
    background-color: rgb(194, 163, 194);
}